body {
      background-color: cyan; 
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
 
.link {
  font-size: 20px; /* Altere o valor conforme necessário */
}

h1{font-family: verdana;
text-align: center;}